.dash-footer{
  background-color: black;
}
.ml-20{
  margin-left: 20px;
}
.pl-20{
  padding-left: 20px;
}
.f20{
  font-size: 20px;
}
.mt-n11{
  margin-top: -11px;
}
.height-30{
  height: 30px;
}
.bg-items{
  background-color: #4caf50;
  color: #fff !important;
}
.bg-items-dark {
  background-color: #2e6f30;
  color: #fff !important;
}
.bg-transfers{
  background-color: #FF9800;
  color: #fff !important;
}
.bg-transfers-dark {
  background-color: #c77905;
  color: #fff !important;
}
.bg-pic{
  background-color: #f72020;
  color: #fff !important;
}
.bg-pic-dark {
  background-color: #b30404;
  color: #fff !important;
}
.bg-locations {
  background-color: #2196F3;
  color: #fff !important;
}
.bg-locations-dark {
  background-color: #1872b9;
  color: #fff !important;
}
.mr10{
  margin-right: 10px;
}
.clickable {
  cursor: pointer;
}